# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data
data/raw/*
!data/raw/.gitkeep
!data/raw/banking_docs/
!data/raw/banking_docs/*
data/processed/*
!data/processed/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
*.db

# MLflow
mlruns/

# IDEs
.vscode/
.idea/

# Docker
deployment/grafana-data/
deployment/prometheus-data/

# OS files
.DS_Store
Thumbs.db

